:root table {
  border-collapse: separate;
  border-spacing: 0;
  --table-header-weight:bold;
}

th:first-of-type {
  border-top-left-radius: 10px;
  background-color: var(--background-secondary);
}
th:last-of-type {
  border-top-right-radius: 10px;
  background-color: var(--background-secondary);
}
tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 10px;

}
tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 10px;
}

:root :is(td, th) {
  border-width: 0 var(--table-border-width) var(--table-border-width) 0;
}

thead {
  background-color: var(--background-secondary);
}

/* @settings
name: Table Styling
id: table-styling
settings:
  - id: center-all-cells
    title: Center all table cells
    description: Toggle to enable or disable centering the content of all table cells
    type: class-toggle
    default: true
*/

/* Centering all cells (when enabled) */
body.center-all-cells .markdown-preview-view table thead tr th,
body.center-all-cells .markdown-rendered table thead tr th,
body.center-all-cells .markdown-preview-view table tr td,
body.center-all-cells .markdown-rendered table tr td {
  text-align: center;
}










